- Import required libraries.

In [756]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import re

- Open and read the data sets.

In [757]:
income = pd.read_csv('datasets/MedianHouseholdIncome2015.csv', encoding='windows-1251')

In [758]:
poverty = pd.read_csv('datasets/PercentagePeopleBelowPovertyLevel.csv', encoding='windows-1251')

In [759]:
education = pd.read_csv('datasets/PercentOver25CompletedHighSchool.csv', encoding='windows-1251')

In [760]:
killings = pd.read_csv('datasets/PoliceKillingsUS.csv', encoding='windows-1251')

In [761]:
city_race = pd.read_csv('datasets/ShareRaceByCity.csv', encoding='windows-1251')

In [762]:
income.head()

  Geographic Area             City Median Income
0              AL       Abanda CDP         11207
1              AL   Abbeville city         25615
2              AL  Adamsville city         42575
3              AL     Addison town         37083
4              AL       Akron town         21667

In [763]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB

In [764]:
poverty.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [765]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29329 non-null  object
 1   City             29329 non-null  object
 2   poverty_rate     29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [766]:
education.head()

  Geographic Area             City percent_completed_hs
0              AL       Abanda CDP                 21.2
1              AL   Abbeville city                 69.1
2              AL  Adamsville city                 78.9
3              AL     Addison town                 81.4
4              AL       Akron town                 68.6

In [767]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Geographic Area       29329 non-null  object
 1   City                  29329 non-null  object
 2   percent_completed_hs  29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [768]:
killings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [769]:
killings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2340 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [770]:
city_race.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0,0.1,0.4
4,AL,Akron town,13.2,86.5,0,0,0.3

In [771]:
city_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

- I will concatenate the `income`, `poverty`, `education` and `city_race` dataframes for compact analysis.

In [772]:
data = pd.concat([poverty, education, income, city_race], axis=1)

In [773]:
data.sample(10)

,Geographic Area,City,poverty_rate,Geographic Area,City,percent_completed_hs,Geographic Area,City,Median Income,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
16772,NM,Sena CDP,24.2,NM,Sena CDP,64.8,NM,Soham CDP,(X),NM,Texico city,52.6,4.7,1.5,0.1,55.9
27447,WA,Creston town,11,WA,Creston town,85.4,WA,Danville CDP,(X),WA,Fairwood CDP (King County),65.3,7.4,0.5,17.6,6.5
23994,SD,Quinn town,2.2,SD,Quinn town,96.8,SD,Redfield city,37757,SD,Turton town,100,0,0,0,0
12647,MN,Fairfax city,14.5,MN,Fairfax city,77.9,MN,Farmington city,87925,MN,Fort Ripley city,97.1,0,1.4,1.4,0
1295,AZ,Strawberry CDP,6,AZ,Strawberry CDP,93.3,AZ,Strawberry CDP,42422,AZ,Sun Valley CDP,57.6,0.3,29.7,0,15.5
11281,MD,North Bethesda CDP,6.7,MD,North Bethesda CDP,94.9,MD,North Laurel CDP,89536,MD,Parole CDP,88,6.6,0.2,2.7,3.4
14613,MO,Villa Ridge CDP,25.8,MO,Villa Ridge CDP,89.3,MO,Walker city,29125,MO,Weatherby Lake city,95.1,0.8,0.5,1.5,3.2
15080,NE,Barada village,18.2,NE,Barada village,90.9,NE,Bayard city,42368,NE,Bennet village,98.9,0,0,0.1,0.3
8273,IA,Clearfield city,11.6,IA,Clearfield city,81,IA,Clemons city,58750,IA,Clinton city,91,4.3,0.4,0.7,3.3
20303,OH,Walnut Creek CDP,10.8,OH,Walnut Creek CDP,57,OH,Washington Court House city,35905,OH,West Unity village,95.9,0.5,0.2,0.6,3.7

In [774]:
data.columns = ['area', 'city', 'poverty_rate', 'Geographic_Area_x', 'City_x',
       'education', 'Geographic_Area_y', 'City_y', 'income',
       'Geographic_area_z', 'City_z', 'share_white', 'share_black',
       'share_native_american', 'share_asian', 'share_hispanic']

- The cities are not the same. In this case I will perform my analysis based on geographic area.

In [775]:
data.drop(['Geographic_Area_x', 'City_x', 'Geographic_Area_y', 'City_y', 'Geographic_area_z', 'City_z'], 
          axis=1, inplace=True)

In [776]:
data.sample(20)

,area,city,poverty_rate,education,income,share_white,share_black,share_native_american,share_asian,share_hispanic
11699,MI,Alba CDP,8.9,79.1,45000,66.3,18.5,0.3,8.9,7.8
25168,TX,Hedwig Village city,8.9,95.3,41250,90.6,1.1,0.2,6,4.5
9573,KS,Ogden city,26.2,85.5,48125,97,0.3,0.4,0.7,2
3680,CO,Ken Caryl CDP,5.2,96.7,85887,83.7,3,1.7,0.9,18
6779,IL,Lostant village,7,91.9,38563,28.8,65.9,0.3,0.5,7.3
7741,IN,Lake Village CDP,4.2,89.4,48672,98.9,0,0,0,0
15984,NJ,East Rutherford borough,10.1,92.9,61544,89.6,2.9,0.5,3.2,6.9
27643,WA,Malo CDP,-,-,-,91,0.2,0.7,0.8,7
29148,WY,Beulah CDP,0,100,49469,98.6,0,0,1.4,0
11680,MA,Weymouth Town city,6.9,93.4,100862,91.4,4.3,0.6,0.8,3.8
5169,GA,Clayton city,19.6,79.1,43571,32.3,65.4,0,0,2.4
861,AK,St. George city,11.3,91.1,53750,4.9,0,94.5,0.1,0
28484,WI,Clayton village,19.2,86.4,48750,99.4,0,0,0,0
22175,PA,Heilwood CDP,10.7,89.6,53480,98.7,0,0.2,0.8,1
8002,IN,Spring Grove town,10.6,80.2,37500,98.6,0.7,0,0,0.7
2569,CA,Isla Vista CDP,68,82.6,20550,88.4,1.2,1.2,4.7,4.7
18585,NC,Robbins town,43.4,70.9,36088,52.4,37.7,0.4,1.6,10.6
20359,OH,Williamsdale CDP,24.3,72.3,45000,72.2,0.4,21.9,0,0.4
14081,MO,High Ridge CDP,12.2,89.3,35848,96.6,0.1,0.6,0.1,3.8
2879,CA,Nicolaus CDP,5.7,93.5,71667,48.1,1.6,1,3.7,73.1

In [777]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   area                   29329 non-null  object
 1   city                   29329 non-null  object
 2   poverty_rate           29329 non-null  object
 3   education              29329 non-null  object
 4   income                 29271 non-null  object
 5   share_white            29268 non-null  object
 6   share_black            29268 non-null  object
 7   share_native_american  29268 non-null  object
 8   share_asian            29268 non-null  object
 9   share_hispanic         29268 non-null  object
dtypes: object(10)
memory usage: 2.2+ MB

In [778]:
killings

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

- Data Cleaning and Prprocessing

In [779]:
#check for missing values
data.isnull().sum()

area                      0
city                      0
poverty_rate              0
education                 0
income                   58
share_white              61
share_black              61
share_native_american    61
share_asian              61
share_hispanic           61
dtype: int64

In [780]:
#income column
data['income_col'] = data['income'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['income_col'] = data['income_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['income_col'] == "", 'income_col'] = '0'

data.drop('income', axis=1, inplace=True)

#change the type from object to float
data['income'] = data['income_col'].astype('float')

#drop the redundant column
data.drop('income_col', axis=1, inplace=True)

In [781]:
#poverty column
data['poverty_col'] = data['poverty_rate'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['poverty_col'] = data['poverty_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['poverty_col'] == "", 'poverty_col'] = '0'

#change the type from object to float
data['poverty_rate'] = data['poverty_col'].astype('float')

#drop the redundant column
data.drop('poverty_col', axis=1, inplace=True)

In [782]:
#education column
data['education_col'] = data['education'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['education_col'] = data['education_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['education_col'] == "", 'education_col'] = '0'

#change the type from object to float
data['education'] = data['education_col'].astype('float')

#drop the redundant column
data.drop('education_col', axis=1, inplace=True)

In [783]:
#share_white column
data['share_white_col'] = data['share_white'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_white_col'] = data['share_white_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_white_col'] == "", 'share_white_col'] = '0'

#change the type from object to float
data['share_white'] = data['share_white_col'].astype('float')

#drop the redundant column
data.drop('share_white_col', axis=1, inplace=True)

In [784]:
#share_black column
data['share_black_col'] = data['share_black'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_black_col'] = data['share_black_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_black_col'] == "", 'share_black_col'] = '0'

#change the type from object to float
data['share_black'] = data['share_black_col'].astype('float')

#drop the redundant column
data.drop('share_black_col', axis=1, inplace=True)

In [785]:
#share_native_american column
data['share_native_american_col'] = data['share_native_american'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_native_american_col'] = data['share_native_american_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_native_american_col'] == "", 'share_native_american_col'] = '0'

#change the type from object to float
data['share_native_american'] = data['share_native_american_col'].astype('float')

#drop the redundant column
data.drop('share_native_american_col', axis=1, inplace=True)

In [786]:
#share_asian column
data['share_asian_col'] = data['share_asian'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_asian_col'] = data['share_asian_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_asian_col'] == "", 'share_asian_col'] = '0'

#change the type from object to float
data['share_asian'] = data['share_asian_col'].astype('float')

#drop the redundant column
data.drop('share_asian_col', axis=1, inplace=True)

In [787]:
#share_hispanic column
data['share_hispanic_col'] = data['share_hispanic'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_hispanic_col'] = data['share_hispanic_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_hispanic_col'] == "", 'share_hispanic_col'] = '0'

#change the type from object to float
data['share_hispanic'] = data['share_hispanic_col'].astype('float')

#drop the redundant column
data.drop('share_hispanic_col', axis=1, inplace=True)

In [788]:
killings.isnull().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                        9
age                         77
gender                       0
race                       195
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        65
body_camera                  0
dtype: int64

In [789]:
age_median = killings['age'].median()
killings['age'].fillna(age_median, inplace=True)

In [790]:
top_race = killings['race'].describe().top
killings['race'].fillna(top_race, inplace=True)

In [791]:
top_flee = killings['flee'].describe().top
killings['flee'].fillna(top_flee, inplace=True)

In [792]:
top_armed = killings['armed'].describe().top
killings['armed'].fillna(top_armed, inplace=True)

In [793]:
killings.loc[killings['threat_level'] == 'attack', 'threat_level'] = 'high'
killings.loc[killings['threat_level'] == 'other', 'threat_level'] = 'medium'
killings.loc[killings['threat_level'] == 'undetermined', 'threat_level'] = 'low'

In [794]:
killings['threat_level'] = killings['threat_level'].astype('category')

In [795]:
killings['manner_of_death'] = killings['manner_of_death'].astype('category')

In [796]:
killings['gender'] = killings['gender'].astype('category')

In [797]:
killings['date'] = pd.to_datetime(killings['date'], errors='coerce')