- Import required libraries.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

- Open and read the data sets.

In [3]:
income = pd.read_csv('datasets/MedianHouseholdIncome2015.csv', encoding='windows-1251')

In [4]:
poverty = pd.read_csv('datasets/PercentagePeopleBelowPovertyLevel.csv', encoding='windows-1251')

In [5]:
education = pd.read_csv('datasets/PercentOver25CompletedHighSchool.csv', encoding='windows-1251')

In [6]:
killings = pd.read_csv('datasets/PoliceKillingsUS.csv', encoding='windows-1251')

In [7]:
city_race = pd.read_csv('datasets/ShareRaceByCity.csv', encoding='windows-1251')

In [8]:
income.head()

  Geographic Area             City Median Income
0              AL       Abanda CDP         11207
1              AL   Abbeville city         25615
2              AL  Adamsville city         42575
3              AL     Addison town         37083
4              AL       Akron town         21667

In [9]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB

In [10]:
poverty.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [11]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29329 non-null  object
 1   City             29329 non-null  object
 2   poverty_rate     29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [12]:
education.head()

  Geographic Area             City percent_completed_hs
0              AL       Abanda CDP                 21.2
1              AL   Abbeville city                 69.1
2              AL  Adamsville city                 78.9
3              AL     Addison town                 81.4
4              AL       Akron town                 68.6

In [13]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Geographic Area       29329 non-null  object
 1   City                  29329 non-null  object
 2   percent_completed_hs  29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [14]:
killings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [15]:
killings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2340 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [16]:
city_race.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0,0.1,0.4
4,AL,Akron town,13.2,86.5,0,0,0.3

In [17]:
city_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

- I will concatenate the `income`, `poverty`, `education` and `city_race` dataframes for compact analysis.

In [18]:
data = pd.concat([poverty, education, income, city_race], axis=1)

In [19]:
data.sample(20)

,Geographic Area,City,poverty_rate,Geographic Area,City,percent_completed_hs,Geographic Area,City,Median Income,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
966,AZ,Beaver Dam CDP,29.2,AZ,Beaver Dam CDP,73,AZ,Beaver Dam CDP,45078,AZ,Blackwater CDP,3.8,0.7,88.2,0,22.1
15390,NE,Merna village,9.8,NE,Merna village,92.5,NE,Minden city,47591,NE,Nelson city,97.7,0,0,0,1.6
1080,AZ,Freedom Acres CDP,0,AZ,Freedom Acres CDP,62.3,AZ,Freedom Acres CDP,43472,AZ,Gisela CDP,94.7,0.4,2.3,0,4.4
10423,LA,Covington city,18.4,LA,Covington city,81.3,LA,Cut Off CDP,55905,LA,Dubberly village,90.8,8.4,0,0,1.8
26060,TX,Study Butte CDP,41.7,TX,Study Butte CDP,73.5,TX,Sunray city,49716,TX,Tierra Bonita CDP,51.8,4.3,0,0,95.7
6047,ID,Warm River city,-,ID,Warm River city,-,ID,Weiser city,28988,ID,Winchester city,92.1,1.2,3.2,0.3,2.1
8973,IA,Stanwood city,8,IA,Stanwood city,89.5,IA,Stockport city,32019,IA,Stone City CDP,97.9,1,0,1,0
4872,FL,Shalimar town,8.1,FL,Shalimar town,98.9,FL,Sharpes CDP,43548,FL,Sneads town,78,18.5,0.2,0.4,2.7
11355,MD,Rosemont village,2.5,MD,Rosemont village,96.3,MD,St. Leonard CDP,101667,MD,Silver Hill CDP,3.9,91.5,0.3,0.7,3.7
9919,KY,Dixon city,11.8,KY,Dixon city,75.2,KY,Drakesboro city,46250,KY,Ekron city,86.7,1.5,1.5,1.5,0.7
11177,MD,Huntingtown CDP,2.3,MD,Huntingtown CDP,97.6,MD,Indian Head town,71250,MD,Kingstown CDP,91.9,5.3,0,1.2,1.8
1412,AR,Avilla CDP,1.4,AR,Avilla CDP,91.3,AR,Avilla CDP,59806,AR,Bauxite town,94.9,1.8,1.4,0,2.1
14199,MO,Leisure Lake CDP,34.1,MO,Leisure Lake CDP,94.2,MO,Lewis and Clark Village town,55000,MO,Loma Linda town,89,2.6,4.7,1.1,2.8
27264,VA,Tuckahoe CDP,10.3,VA,Tuckahoe CDP,93.1,VA,Urbanna town,37386,WA,Aberdeen Gardens CDP,91,0,1.8,2.2,5
17334,NY,Houghton CDP,11.9,NY,Houghton CDP,97,NY,Huntington Bay village,177083,NY,Jericho CDP,70.8,1.9,0.1,25.4,3
9301,KS,Eureka city,15.3,KS,Eureka city,90.4,KS,Fairway city,101426,KS,Falun CDP,100,0,0,0,1.1
25683,TX,Orange city,21.2,TX,Orange city,87.5,TX,Owl Ranch CDP,(X),TX,Perrin CDP,95.2,0.5,0,1,11.1
22008,PA,Fairview borough,19.5,PA,Fairview borough,82.1,PA,Farmersville CDP,37692,PA,Franklin city,93.4,2.7,0.3,0.7,1.3
24519,TN,Whiteville town,45.4,TN,Whiteville town,66,TN,Woodbury town,27061,TX,Annetta town,96.3,0.2,0.9,0.5,3.3
9918,KY,Diablock CDP,17.4,KY,Diablock CDP,78.6,KY,Dover city,44531,KY,Edmonton city,96.2,1.8,0.4,0.2,1.3

In [20]:
data.columns = ['area', 'city', 'poverty_rate', 'Geographic_Area_x', 'City_x',
       'education', 'Geographic_Area_y', 'City_y', 'income',
       'Geographic_area_z', 'City_z', 'share_white', 'share_black',
       'share_native_american', 'share_asian', 'share_hispanic']

- The cities are not the same. In this case I will perform my analysis based on geographic area.

In [21]:
data.drop(['Geographic_Area_x', 'City_x', 'Geographic_Area_y', 'City_y', 'Geographic_area_z', 'City_z'], 
          axis=1, inplace=True)

In [22]:
data.sample(20)

,area,city,poverty_rate,education,income,share_white,share_black,share_native_american,share_asian,share_hispanic
7277,IL,Thomson village,19.1,88.2,36513,98.7,0.2,0.2,0.2,0.9
16872,NY,Angola on the Lake CDP,7.6,90.3,53500,61.3,26.6,0.1,4.9,11.8
19540,OH,Frankfort village,13.8,81.6,35568,81.4,15.4,0,1.5,1.3
29248,WY,Marbleton town,2.2,83.2,64844,96.4,0.3,0.9,0.5,2.2
12134,MI,Mount Clemens city,22.3,84.5,33953,94.6,2.1,0.6,0.7,2.4
29323,WY,Wilson CDP,2.9,100,NaN,NaN,NaN,NaN,NaN,NaN
10001,KY,Guthrie city,35.7,76.9,53438,84.5,11.6,0.2,0.5,2.3
18794,ND,Arnegard city,26.1,86.7,(X),95,0,0,1.3,0
16548,NM,Grenville village,0,100,35214,86.4,0.4,0.8,0.8,29.2
13865,MO,Cooter city,9.6,71.2,70859,96.2,0,0.9,0.4,2.1
15445,NE,Otoe village,10,99,51719,97,0,0,0.3,0.3
22321,PA,Larksville borough,11.7,89.2,56161,87.6,8,0.1,0.6,3.7
28855,WI,Oak Creek city,6.8,93.7,-,96.9,0.4,0.4,0.6,1.7
22015,PA,Farmington CDP,37.4,94.4,45333,98.8,0.2,0,0.2,0.2
884,AK,Sleetmute CDP,33.7,75.6,30313,6.4,1.3,84.6,0,15.4
5540,GA,Roswell city,9.3,93.1,38125,1.6,97.7,0.3,0,0.3
52,AL,Blue Springs town,4,95.6,45313,92.7,6.3,0,1,3.1
7299,IL,Troy Grove village,4.2,90.3,102554,98.6,0.2,0.3,0.3,0.6
20729,OK,IXL town,29.7,69.7,37917,64.2,0.7,24.2,0,0.3
16063,NJ,Heathcote CDP,6.3,96.5,71174,93.7,2.8,0,1.4,1.2

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   area                   29329 non-null  object
 1   city                   29329 non-null  object
 2   poverty_rate           29329 non-null  object
 3   education              29329 non-null  object
 4   income                 29271 non-null  object
 5   share_white            29268 non-null  object
 6   share_black            29268 non-null  object
 7   share_native_american  29268 non-null  object
 8   share_asian            29268 non-null  object
 9   share_hispanic         29268 non-null  object
dtypes: object(10)
memory usage: 2.2+ MB

In [24]:
killings

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

- Data Cleaning and Prprocessing

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   area                   29329 non-null  object
 1   city                   29329 non-null  object
 2   poverty_rate           29329 non-null  object
 3   education              29329 non-null  object
 4   income                 29271 non-null  object
 5   share_white            29268 non-null  object
 6   share_black            29268 non-null  object
 7   share_native_american  29268 non-null  object
 8   share_asian            29268 non-null  object
 9   share_hispanic         29268 non-null  object
dtypes: object(10)
memory usage: 2.2+ MB

In [28]:
#check for missing values
data.isnull().sum()

area                      0
city                      0
poverty_rate              0
education                 0
income                   58
share_white              61
share_black              61
share_native_american    61
share_asian              61
share_hispanic           61
dtype: int64

In [44]:
data.loc[data['income'] == '(X)'] = 0
data.loc[data['income'] == '-'] = 0

In [57]:
y = re.sub(r"[^0-9]", "", '3, &&33')
print(type(y))

<class 'str'>

In [58]:
import re

#data['income_col'] = data['income'].apply(lambda x: re.sub(r"[^0-9]", "", x))

for i in data['income']:
    data['income'][i] = re.sub(r"[^0-9]", "", i)

TypeError: expected string or bytes-like object

In [45]:
data['income'] = data['income'].astype('float')

ValueError: could not convert string to float: '2,500-'

In [29]:
killings.isnull().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                        9
age                         77
gender                       0
race                       195
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        65
body_camera                  0
dtype: int64

In [41]:
data['income'].describe()

count     29271
unique    14592
top           0
freq       1113
Name: income, dtype: int64

In [42]:
data[data['income'].isnull()]

,area,city,poverty_rate,education,income,share_white,share_black,share_native_american,share_asian,share_hispanic
29119,WI,Woodville village,8,89,NaN,94.4,0.3,0.8,0.2,7.6
29121,WI,Wyeville village,22.4,88,NaN,93.7,0.8,3.9,0,0.8
29123,WI,Yuba village,6.3,89.7,NaN,94.4,0.5,0.5,0,5.6
29126,WY,Albany CDP,0,85.4,NaN,100,0,0,0,0
29129,WY,Alpine town,13.6,93.1,NaN,89.8,0.3,1,0.3,12.3
29130,WY,Alpine Northeast CDP,0,100,NaN,90.8,0.4,1.7,0.4,12.5
29132,WY,Alta CDP,3.5,100,NaN,94.9,0,2.2,0,5.1
29133,WY,Antelope Hills CDP,-,-,NaN,92.3,0,0,7.7,0
29139,WY,Atlantic City CDP,0,100,NaN,95.5,1.9,1.9,0,7.6
29140,WY,Auburn CDP,4.7,100,NaN,96.3,0.5,0,0,3.7
29141,WY,Baggs town,4.3,88,NaN,99.1,0.9,0,0,7.8
29142,WY,Bairoil town,9,93.2,NaN,92.2,0.4,1.2,0.7,9.5
29144,WY,Basin town,8.3,94.7,NaN,96,0.5,0.9,0.4,4.9
29145,WY,Bear River town,0.4,93.6,NaN,88.5,0.7,0,0,15.1
29152,WY,Boulder CDP,-,-,NaN,100,0,0,0,6.5
29153,WY,Boulder Flats CDP,4.9,90.7,NaN,97.8,0,0,0,2.2
29156,WY,Burlington town,4.7,94.4,NaN,91.7,0.1,0.4,1.2,13.7
29164,WY,Cheyenne city,11.2,93.4,NaN,96.6,0,1.7,0,0
29186,WY,Esterbrook CDP,0,85.2,NaN,94.7,0,0,0,9.6
29187,WY,Ethete CDP,19,88.7,NaN,96.8,0,1.1,0,5.3
29191,WY,Fairview CDP,0,100,NaN,97.6,0.6,0.6,0,1.8
29207,WY,Greybull town,13.4,83,NaN,98.7,0,0,0,4.6
29210,WY,Hanna town,30.7,88.3,NaN,90.5,0.7,0.6,1.3,9.9
29213,WY,Hawk Springs CDP,0,80.8,NaN,93.7,0.4,0.6,1.2,9.4
29217,WY,Homa Hills CDP,19.6,86.2,NaN,90.3,0,7.3,0.8,3.6
29220,WY,Huntley CDP,-,-,NaN,96,0.2,0.7,1.8,2.7
29225,WY,Johnstown CDP,18.6,95.5,NaN,91.4,0,0.8,0,9
29226,WY,Kaycee town,0.4,89,NaN,86.4,1.4,0.8,1.1,16.4
29230,WY,La Barge town,8.6,84.5,NaN,94,0,0,0,2.4
29231,WY,La Grange town,31.7,95.2,NaN,94.9,0.4,1,0.9,4.3
29232,WY,Lakeview North CDP,0,100,NaN,91.1,1.1,5.1,0.6,9.6
29237,WY,Little America CDP,0,100,NaN,83.1,2.3,2.1,0.4,20.4
29238,WY,Lonetree CDP,-,-,NaN,94,0.1,0.2,0.5,5.9
29242,WY,Lusk town,18.7,89.8,NaN,91.4,0.6,1.8,0.6,12.8
29249,WY,Meadow Acres CDP,17.6,100,NaN,93.2,1,0.9,0.5,11.3
29254,WY,Moorcroft town,10.4,95.7,NaN,87,0,8.7,0,0
29255,WY,Moose Wilson Road CDP,1.8,97.3,NaN,97.1,0,0.3,0.1,1.9
29256,WY,Mountain View CDP,27.2,100,NaN,82.7,0.7,2.9,0,19.7
29259,WY,Nordic CDP,0,97.4,NaN,100,0,0,0,1.9
29266,WY,Owl Creek CDP,-,-,NaN,97.4,0,0,0,4
29282,WY,Reliance CDP,7.5,83,NaN,NaN,NaN,NaN,NaN,NaN
29288,WY,Rolling Hills town,0,90.4,NaN,NaN,NaN,NaN,NaN,NaN
29297,WY,Smoot CDP,0,100,NaN,NaN,NaN,NaN,NaN,NaN
29300,WY,Star Valley Ranch town,4.8,88.5,NaN,NaN,NaN,NaN,NaN,NaN
29307,WY,Teton Village CDP,0,100,NaN,NaN,NaN,NaN,NaN,NaN
29308,WY,Thayne town,14.1,86.5,NaN,NaN,NaN,NaN,NaN,NaN
29312,WY,Upton town,15.5,92.5,NaN,NaN,NaN,NaN,NaN,NaN
29313,WY,Urie CDP,2.2,98,NaN,NaN,NaN,NaN,NaN,NaN
29315,WY,Veteran CDP,0,50,NaN,NaN,NaN,NaN,NaN,NaN
29317,WY,Wamsutter town,6.4,93.3,NaN,NaN,NaN,NaN,NaN,NaN
29321,WY,Wheatland town,12,92.7,NaN,NaN,NaN,NaN,NaN,NaN
29322,WY,Whiting CDP,0,100,NaN,NaN,NaN,NaN,NaN,NaN
29323,WY,Wilson CDP,2.9,100,NaN,NaN,NaN,NaN,NaN,NaN
29324,WY,Woods Landing-Jelm CDP,18.6,100,NaN,NaN,NaN,NaN,NaN,NaN
29325,WY,Worland city,15.3,85.6,NaN,NaN,NaN,NaN,NaN,NaN
29326,WY,Wright town,5.9,89.2,NaN,NaN,NaN,NaN,NaN,NaN
29327,WY,Yoder town,5.4,79.4,NaN,NaN,NaN,NaN,NaN,NaN
29328,WY,Y-O Ranch CDP,0,100,NaN,NaN,NaN,NaN,NaN,NaN