- Import required libraries.

In [654]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import re

- Open and read the data sets.

In [655]:
income = pd.read_csv('datasets/MedianHouseholdIncome2015.csv', encoding='windows-1251')

In [656]:
poverty = pd.read_csv('datasets/PercentagePeopleBelowPovertyLevel.csv', encoding='windows-1251')

In [657]:
education = pd.read_csv('datasets/PercentOver25CompletedHighSchool.csv', encoding='windows-1251')

In [658]:
killings = pd.read_csv('datasets/PoliceKillingsUS.csv', encoding='windows-1251')

In [659]:
city_race = pd.read_csv('datasets/ShareRaceByCity.csv', encoding='windows-1251')

In [660]:
income.head()

  Geographic Area             City Median Income
0              AL       Abanda CDP         11207
1              AL   Abbeville city         25615
2              AL  Adamsville city         42575
3              AL     Addison town         37083
4              AL       Akron town         21667

In [661]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29322 non-null  object
 1   City             29322 non-null  object
 2   Median Income    29271 non-null  object
dtypes: object(3)
memory usage: 687.4+ KB

In [662]:
poverty.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [663]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29329 non-null  object
 1   City             29329 non-null  object
 2   poverty_rate     29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [664]:
education.head()

  Geographic Area             City percent_completed_hs
0              AL       Abanda CDP                 21.2
1              AL   Abbeville city                 69.1
2              AL  Adamsville city                 78.9
3              AL     Addison town                 81.4
4              AL       Akron town                 68.6

In [665]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Geographic Area       29329 non-null  object
 1   City                  29329 non-null  object
 2   percent_completed_hs  29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [666]:
killings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [667]:
killings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2340 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [668]:
city_race.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0,0.1,0.4
4,AL,Akron town,13.2,86.5,0,0,0.3

In [669]:
city_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29268 entries, 0 to 29267
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Geographic area        29268 non-null  object
 1   City                   29268 non-null  object
 2   share_white            29268 non-null  object
 3   share_black            29268 non-null  object
 4   share_native_american  29268 non-null  object
 5   share_asian            29268 non-null  object
 6   share_hispanic         29268 non-null  object
dtypes: object(7)
memory usage: 1.6+ MB

- I will concatenate the `income`, `poverty`, `education` and `city_race` dataframes for compact analysis.

In [670]:
data = pd.concat([poverty, education, income, city_race], axis=1)

In [671]:
data.sample(20)

,Geographic Area,City,poverty_rate,Geographic Area,City,percent_completed_hs,Geographic Area,City,Median Income,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
20276,OH,Upper Arlington city,5.4,OH,Upper Arlington city,98.7,OH,Valley Hi village,29712,OH,Waynesburg village,97.6,1,0.1,0.1,0.7
14654,MO,Wheatland city,26.3,MO,Wheatland city,67.8,MO,Whitewater town,32500,MO,Wooldridge village,96.7,0,1.6,0,11.5
24475,TN,Stantonville town,27.8,TN,Stantonville town,76.3,TN,Tellico Plains town,25469,TX,Abbott city,96.1,2,1.1,0.3,6.5
25448,TX,Lorena city,12.8,TX,Lorena city,88.9,TX,Los Barreras CDP,31683,TX,Manor city,45.6,27.6,1,1.5,47.5
15571,NE,Tryon CDP,8.6,NE,Tryon CDP,100,NE,Utica village,66818,NE,Walton CDP,96.1,0.7,0.7,1.3,0.3
9727,KS,Valley Center city,7.4,KS,Valley Center city,95,KS,Victoria city,47868,KS,Viola city,91.5,1.5,1.5,0,8.5
10781,LA,Waterproof town,53.7,LA,Waterproof town,66.2,LA,Westminster CDP,85718,ME,Bangor city,93.1,1.7,1.2,1.7,1.5
26654,VT,Jericho village,1.4,VT,Jericho village,96.6,VT,Marshfield village,55278,VT,Waitsfield CDP,98.8,0,0,0,0.6
22966,PA,South Coatesville borough,19.3,PA,South Coatesville borough,92.4,PA,South New Castle borough,41944,PA,Stoystown borough,99.7,0,0,0,0
24062,SD,Vivian CDP,0,SD,Vivian CDP,100,SD,Wallace town,53750,TN,Auburntown town,93.7,1.9,0,0.4,3.3
22472,PA,Middletown CDP,4.1,PA,Middletown CDP,89.5,PA,Mifflintown borough,39531,PA,Morton borough,65.1,25.4,0.3,6,2.2
29056,WI,Viola village,20.1,WI,Viola village,93.6,WI,Washburn city,40319,WI,Woodford CDP,98.6,0,0,0,1.4
16145,NJ,Medford Lakes borough,0.6,NJ,Medford Lakes borough,98,NJ,Middlesex borough,79327,NJ,Mount Ephraim borough,93.6,2.1,0.1,0.7,5.3
21598,PA,Baumstown CDP,0,PA,Baumstown CDP,86.5,PA,Beaverdale CDP,43450,PA,Blakely borough,96.6,1,0.1,0.7,1.8
20349,OH,Whitehall city,22.8,OH,Whitehall city,79.5,OH,Wilberforce CDP,104821,OH,Zaleski village,98.2,0,0,0,0
11824,MI,Clare city,34.8,MI,Clare city,88.9,MI,Climax village,57386,MI,Cross Village CDP,87.1,1.1,11.8,0,0
11744,MI,Beaverton city,31.4,MI,Beaverton city,89.5,MI,Belleville city,45452,MI,Bloomingdale village,93.4,0.2,0.9,0.2,5.1
3404,CA,West Park CDP,27.1,CA,West Park CDP,63.3,CA,West Park CDP,36875,CA,West Whittier-Los Nietos CDP,59.4,1,1.5,1.5,87.6
20931,OK,Pryor Creek city,24.8,OK,Pryor Creek city,87.9,OK,Ralston town,38000,OK,Sentinel town,76.6,0.1,3.7,0,20.6
7080,IL,Rankin village,28.8,IL,Rankin village,80.3,IL,Rantoul village,38769,IL,Redmon village,98.8,0,0,0,1.7

In [672]:
data.columns = ['area', 'city', 'poverty_rate', 'Geographic_Area_x', 'City_x',
       'education', 'Geographic_Area_y', 'City_y', 'income',
       'Geographic_area_z', 'City_z', 'share_white', 'share_black',
       'share_native_american', 'share_asian', 'share_hispanic']

- The cities are not the same. In this case I will perform my analysis based on geographic area.

In [673]:
data.drop(['Geographic_Area_x', 'City_x', 'Geographic_Area_y', 'City_y', 'Geographic_area_z', 'City_z'], 
          axis=1, inplace=True)

In [674]:
data.sample(20)

,area,city,poverty_rate,education,income,share_white,share_black,share_native_american,share_asian,share_hispanic
6119,IL,Banner village,5.9,83.2,31250,78.6,2.3,0.2,14.4,8.6
26585,UT,Wendover city,31.5,50.9,88438,95,0,0,1.3,0
14824,MT,Happys Inn CDP,0,100,28077,91.5,0,3.4,0.8,0.8
5138,GA,Cairo city,42.6,69.8,46125,75.6,8.9,0.8,1.3,22.5
189,AL,Frisco City town,31.3,77.3,17311,98.2,0,1.1,0.4,0
10047,KY,Jeff CDP,28.5,78,31766,79.4,11.1,0.5,5.4,4.9
20171,OH,Sheffield village,3,92.3,57552,97.8,0.4,0,0,0.2
14360,MO,Oregon city,8.2,94.2,23207,28.1,68.3,0.4,1,1.2
26627,VT,Coventry CDP,16.3,90.2,59306,94,1.5,0.2,0.5,2.1
13602,MS,Sumrall town,17.3,94.4,13273,79.2,15.2,0.3,3.5,2.6
8875,IA,Ricketts city,26.4,93.2,36563,98.5,0.2,0.5,0,1.5
25759,TX,Pleasant Valley town,4.9,83.6,48604,100,0,0,0,100
5111,GA,Blythe city,19.6,89.3,24261,71.3,26.7,0,0.2,3.4
18603,NC,Roxobel town,10.3,75.1,39274,81.8,8.2,0,0,21.8
21580,PA,Avis borough,9.4,91.5,37140,98.3,0.1,0,0.4,0.6
2165,CA,Cazadero CDP,11.8,95.5,41667,91.2,0,2,0.8,10.3
2163,CA,Catheys Valley CDP,16.9,89.8,59219,57.7,2.6,1.3,6.8,56
23454,SC,Hanahan city,12.4,90.1,58125,84.9,10.3,0.7,1.7,2.9
24099,SD,Yankton city,16.9,91,49375,88,7.2,0.9,0.3,3.3
13423,MS,Hazlehurst city,27.2,84,36786,18.4,79.4,0.1,0.4,1.6

In [675]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   area                   29329 non-null  object
 1   city                   29329 non-null  object
 2   poverty_rate           29329 non-null  object
 3   education              29329 non-null  object
 4   income                 29271 non-null  object
 5   share_white            29268 non-null  object
 6   share_black            29268 non-null  object
 7   share_native_american  29268 non-null  object
 8   share_asian            29268 non-null  object
 9   share_hispanic         29268 non-null  object
dtypes: object(10)
memory usage: 2.2+ MB

In [676]:
killings

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

- Data Cleaning and Prprocessing

In [677]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   area                   29329 non-null  object
 1   city                   29329 non-null  object
 2   poverty_rate           29329 non-null  object
 3   education              29329 non-null  object
 4   income                 29271 non-null  object
 5   share_white            29268 non-null  object
 6   share_black            29268 non-null  object
 7   share_native_american  29268 non-null  object
 8   share_asian            29268 non-null  object
 9   share_hispanic         29268 non-null  object
dtypes: object(10)
memory usage: 2.2+ MB

In [678]:
#check for missing values
data.isnull().sum()

area                      0
city                      0
poverty_rate              0
education                 0
income                   58
share_white              61
share_black              61
share_native_american    61
share_asian              61
share_hispanic           61
dtype: int64

In [679]:
#income column
data['income_col'] = data['income'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['income_col'] = data['income_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['income_col'] == "", 'income_col'] = '0'

data.drop('income', axis=1, inplace=True)

#change the type from object to float
data['income'] = data['income_col'].astype('float')

#drop the redundant column
data.drop('income_col', axis=1, inplace=True)

In [680]:
#poverty column
data['poverty_col'] = data['poverty_rate'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['poverty_col'] = data['poverty_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['poverty_col'] == "", 'poverty_col'] = '0'

#change the type from object to float
data['poverty_rate'] = data['poverty_col'].astype('float')

#drop the redundant column
data.drop('poverty_col', axis=1, inplace=True)

In [681]:
#education column
data['education_col'] = data['education'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['education_col'] = data['education_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['education_col'] == "", 'education_col'] = '0'

#change the type from object to float
data['education'] = data['education_col'].astype('float')

#drop the redundant column
data.drop('education_col', axis=1, inplace=True)

In [682]:
#share_white column
data['share_white_col'] = data['share_white'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_white_col'] = data['share_white_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_white_col'] == "", 'share_white_col'] = '0'

#change the type from object to float
data['share_white'] = data['share_white_col'].astype('float')

#drop the redundant column
data.drop('share_white_col', axis=1, inplace=True)

In [683]:
#share_black column
data['share_black_col'] = data['share_black'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_black_col'] = data['share_black_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_black_col'] == "", 'share_black_col'] = '0'

#change the type from object to float
data['share_black'] = data['share_black_col'].astype('float')

#drop the redundant column
data.drop('share_black_col', axis=1, inplace=True)

In [684]:
#share_native_american column
data['share_native_american_col'] = data['share_native_american'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_native_american_col'] = data['share_native_american_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_native_american_col'] == "", 'share_native_american_col'] = '0'

#change the type from object to float
data['share_native_american'] = data['share_native_american_col'].astype('float')

#drop the redundant column
data.drop('share_native_american_col', axis=1, inplace=True)

In [685]:
#share_asian column
data['share_asian_col'] = data['share_asian'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_asian_col'] = data['share_asian_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_asian_col'] == "", 'share_asian_col'] = '0'

#change the type from object to float
data['share_asian'] = data['share_asian_col'].astype('float')

#drop the redundant column
data.drop('share_asian_col', axis=1, inplace=True)

In [686]:
#share_hispanic column
data['share_hispanic_col'] = data['share_hispanic'].apply(lambda x: re.sub(r"[^0-9]", "", str(x)))

data['share_hispanic_col'] = data['share_hispanic_col'].apply(lambda x: "".join(str(x).split()))

data.loc[data['share_hispanic_col'] == "", 'share_hispanic_col'] = '0'

#change the type from object to float
data['share_hispanic'] = data['share_hispanic_col'].astype('float')

#drop the redundant column
data.drop('share_hispanic_col', axis=1, inplace=True)

In [687]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   area                   29329 non-null  object
 1   city                   29329 non-null  object
 2   poverty_rate           29329 non-null  float64
 3   education              29329 non-null  float64
 4   share_white            29329 non-null  float64
 5   share_black            29329 non-null  float64
 6   share_native_american  29329 non-null  float64
 7   share_asian            29329 non-null  float64
 8   share_hispanic         29329 non-null  float64
 9   income                 29329 non-null  float64
dtypes: float64(8), object(2)
memory usage: 2.2+ MB

In [688]:
data.isnull().sum()

area                     0
city                     0
poverty_rate             0
education                0
share_white              0
share_black              0
share_native_american    0
share_asian              0
share_hispanic           0
income                   0
dtype: int64

In [693]:
killings.isnull().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                        9
age                          0
gender                       0
race                       195
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        65
body_camera                  0
dtype: int64

In [690]:
killings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2535 non-null   int64
 1   name                     2535 non-null   object
 2   date                     2535 non-null   object
 3   manner_of_death          2535 non-null   object
 4   armed                    2526 non-null   object
 5   age                      2458 non-null   float64
 6   gender                   2535 non-null   object
 7   race                     2340 non-null   object
 8   city                     2535 non-null   object
 9   state                    2535 non-null   object
 10  signs_of_mental_illness  2535 non-null   bool
 11  threat_level             2535 non-null   object
 12  flee                     2470 non-null   object
 13  body_camera              2535 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [691]:
killings['age'].describe()

count    2458.000000
mean       36.605370
std        13.030774
min         6.000000
25%        26.000000
50%        34.000000
75%        45.000000
max        91.000000
Name: age, dtype: float64

In [692]:
age_median = killings['age'].median()
killings['age'].fillna(age_median, inplace=True)

In [695]:
killings['race'].value_counts()

W    1201
B     618
H     423
A      39
N      31
O      28
Name: race, dtype: int64